<!-- jQuery library (served from Google) -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->

<!-- bxSlider CSS file -->
<%#= javascript_include_tag "jquery.min.js" %>
<%#= stylesheet_link_tag "jquery.bxslider/jquery.bxslider.css" %>
<%#= javascript_include_tag "jwplayer/jwplayer.js" %>
<%#= javascript_include_tag "jquery.bxslider/jquery.bxslider.js"%>
<%#= javascript_include_tag "jquery.bxslider/jquery.bxslider.min.js"%>


<style type="text/css">

.blue {
  color: #09F;
}
body
{
height: 100%;
background:#5d9ab2 url('/assets/hd-iphone-4s-wallpapers-62ios.jpg') no-repeat ;
background-size: cover;
}


</style>

<%- model_class = Song -%>
<div class="page-header" style="width: 620px;">
  <h1 style="text-align: center;"><font color="white">College Radio Stations</font></h1>
</div>
  
    <% @colleges.each do |college| %>
  <div style="border: 1px solid;color: white;border-radius: 15px 15px 15px 15px;margin-left: 24px;width: 610px;">

    <div style="padding: 10px 0 6px 20px;">
      <a href="javascript:void(0);" onclick = "clg_radio('<%#= 'http://media.spacial.com/player/cheapeststream/index.html?sid=11593' %>');" style="border: solid 1px #CCC; width:62px; height:62px; float: left;" ><%= college.image.present? ? image_tag(college.image, :style => "height: inherit;") : image_tag("/assets/default_radio_image.jpg", :style => "height: inherit;") %></a> 
      <div class="clear" ></div>
      <div style="display: inline-block; padding: 13px;">
        <h3 style="margin-top: -10px;font-size: 30.5px;">
        <!-- <a href="javascript:void(0);" onclick = "clg_radio('<%#= 'http://media.spacial.com/player/cheapeststream/index.html?sid=11593' %>');" style="color: white;" ><%#= "#{college.name}".titleize %></a> -->
        <%= link_to "#{college.name}".titleize, collegeradio_play_page_path(:id => college.id), :style => "color: white;text-shadow: 2px 2px black" %></h3>
        <span style="display: block;text-shadow: 2px 2px black;font-size: 24.5px"><%= college.city(college.city_id).name if college.city.present? %></span>
      </div>
    </div>
    
  </div>
    <% end %>
 
 <!-- for slider -->
<!-- <div class="outside">
  <p><span id="slider-prev"></span> | <span id="slider-next"></span></p>
</div> -->
<!-- <div id='mediaplayer' class='blue'></div> -->

  <!-- <%# if @songs.present? %>
   <div class="playlistControl">
      <#%= render :partial => "playlist", :locals => {:songs => @songs} %>
    </div>
  <#% else %>
    <div class="noSongs">
      <span>No songs available to play</span>
    </div>
  <#% end %> -->
 
  


 


<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_song_path,
            :class => 'btn btn-primary' %>
