<style type="text/css">

.blue {
  color: #09F;
}

</style>
<%- model_class = Song -%>
<div class="page-header">
  <!--h1> All <%#=t '.title', :default => model_class.model_name.human.pluralize %></h1-->
</div>

<!--     <div class="audiojs" classname="audiojs" id="audiojs_wrapper0">
      <audio src="http://184.73.196.212:8000/live" preload="auto" autoplay="autoplay" loop="loop"></audio>
      <div class="play-pause"> 
          <p class="play"></p>
          <p class="pause"></p>
          <p class="loading"></p>
          <p class="error"></p>
      </div>
      <div class="scrubber">
        <div class="progress"></div>
        <div class="loaded"></div> 
      </div>
      <div class="time">
        <em class="played">00:00</em>/<strong class="duration">00:00</strong> 
      </div>
      <div class="error-message"></div>
    </div>
<script src="/assets/audio.min.js"></script> -->

<div id='mediaplayer' class='blue'></div>


  <% if @songs.present? %>


    <div class="playlistControl">
      <%= render :partial => "playlist", :locals => {:songs => @songs} %>
    </div>
  <% else %>
    <div class="noSongs">
      <span>No songs available to play</span>
    </div>
  <% end %>



 


<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_song_path,
            :class => 'btn btn-primary' %>

<script type="text/javascript">
// var soundObject = soundManager.createSound({
//  id:'mySound1',
//  url:'http://184.73.196.212:8000/live'
// });
// soundObject.play('mySound1');

// var sURL = 'http://184.73.196.212:8000/live';
// if (soundManager.canPlayURL(sURL)) {
//  soundManager.createSound('fooSound',sURL);
// }
// audiojs.events.ready(function() {
//     var as = audiojs.createAll();
//   });
</script>

<script type='text/javascript' src='/assets/jwplayer/jwplayer.js'></script>



<script type="text/javascript">
  jwplayer('mediaplayer').setup({
    'flashplayer': '/assets/jwplayer/jwplayer.flash.swf',
    'id': 'playerID',
    'width': '480',
    'height': '35',
    'file': "http://184.73.196.212:8000/live.mp3",
    //'streamer': 'rtmp://184.73.196.212:8000/live',
    'controlbar': 'auto',
    'autostart': 'true',
    'screencolor': '#0099FF;',
    'plugins': {
      'audiolivestream-1': {
        format: 'Playing: %track',
        buffer: 'Buffering: %perc%',
        backgroundCss: true,
        trackCss: 'color: #fff; font-size: 11px;'
        

      }
    }
  });
</script>

<script type="text/javascript">
  // var config = {
  //   'screencolor': '0099FF',
  //   'controlbar': 'none',
  //   'width': '430',
  //   'height': '35',
  //   'plugins': {
  //     'audiolivestream-1': {
  //       format: 'Playing: %track',
  //       buffer: 'Buffering: %perc%',
  //       backgroundCss: 'gradient',
  //       trackCss: 'color: #fff; font-size: 11px;'
  //     }
  //   },
  //   'file': 'http://184.73.196.212:8000/live.mp3',
  //   //'streamer': 'rtmp://82.201.53.8:80/shoutcast',
  //   'autostart': 'true',
  //   'modes': [
  //     {
  //       type: 'flash',
  //       src: '/assets/jwplayer/jwplayer.flash.swf'
  //     }
  //   ]
  // }
  // jwplayer('mediaplayer').setup(config);
</script>


