<%- model_class = Song -%>
<div class="page-header">
  <!--h1> All <%#=t '.title', :default => model_class.model_name.human.pluralize %></h1-->
</div>
  <!--embed src="http://59.162.67.171:8000/live" type="application/x-mplayer2" 
width="220" height="50" autostart="0" align="center" border="0"
transparentatstart="0" animationatstart="1" showcontrols="true" 
showaudiocontrols="1" showpositioncontrols="0" showtracker="0"
autosize="0" showstatusbar="1" displaysize="false" />
</embed-->



    <audio id="audio" preload="auto" tabindex="0" controls="controls" content-type="application/mp3">
      <!-- <source src="<%#= @songs[0].song_upload.file.url  if @songs[0].song_upload.present? %>" > -->
      <source src="http://192.168.110.137:8000/live">
      Your Fallback goes here
    </audio>



  <% if @songs.present? %>


    <div class="playlistControl">
      <%= render :partial => "playlist", :locals => {:songs => @songs} %>
    </div>
  <% else %>
    <div class="noSongs">
      <span>No songs available to play</span>
    </div>
  <% end %>



 


<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_song_path,
            :class => 'btn btn-primary' %>

<script type="text/javascript">
$(function() {  
    /*var audioSection = $('section#audio');  
    $('a.html5').click(function() {  
        var audio = $('<audio>', {  
             controls : 'controls'  
        });  
        var url = $(this).attr('href');  
        $('<source type="audio/mpeg" title="something">').attr('src', url).appendTo(audio);  
        audioSection.html(audio);  
        return false;  
    });*/
  var audio;
  var playlist;
  var tracks;
  var current;  

  init();
function init(){
    current = 0;
    audio = $('#audio');
    playlist = $('#playlist');
    tracks = playlist.find('li a');
    len = tracks.length - 1;
    audio[0].volume = .10;
    audio[0].play();
    playlist.find('a').click(function(e){
        e.preventDefault();
        link = $(this);
        current = link.parent().index();
        run(link, audio[0]);
    });
    audio[0].addEventListener('ended',function(e){
        current++;
        if(current == len){
            current = 0;
            link = playlist.find('a')[0];
        }else{
            link = playlist.find('a')[current];    
        }
        run($(link),audio[0]);
    });
}
function run(link, player){
        player.src = link.attr('href');
        par = link.parent();
        par.addClass('active').siblings().removeClass('active');
        audio[0].load();
        audio[0].play();
}
}); 
</script>


